.tab-content, #tab-bar{
    margin: 2rem;
}
.panel, input {
    max-width: 60rem;
    min-width: 30rem;
}
.panel {
    min-height: 10rem;
    padding: 1rem;
    white-space: pre-wrap;
}

.btn, input {
    margin-bottom: 1rem;
}
.form-control-feedback {
    position: relative;
    display: inline;
    margin: 1rem;
}
input.form-control {
    display: inline;
}
